.nav-wrapper{
    background-color: black;
    padding: 0.7rem 0;
   /* ami web page joto e scroll kri na keno seta jodi same upore fixed kre rakhte chi, mane scroll er sthe sthe nav ta thakbe se jonno Use kora hoy */
    position: sticky;
    /* top aita insure krse j always viewpoint 0 tey thakbe navigation menu ta */
    top: 0;
    z-index: 30;
    /* pichon er jinish gula blur kre dey jeta nav menu r upor ashbe */
    backdrop-filter: blur(50px);
}
.nav-content{
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem ;
    padding-left: 38rem;
    margin: 0 auto;
}
.nav-content ul{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}
.nav-content li{
    margin: 0 1.5rem;
}
.menu-list{
    text-decoration: none;
    font-size: 0.4cm;
    font-weight: 600;
    color: white;
    position: relative;
    cursor: pointer;
}
.menu-list::before{
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    border-radius: o.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}
.menu-list:hover::before{
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}

.contact-btn{
    font-size: medium;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color: white;
    background: linear-gradient(90deg,  #a993fe 0%, #7e61e7 100% );
    padding: 0.6rem 2rem;
    transition: all 0.3 ease;
    border: none;

}
.contact-btn:hover{
    color: #a993fe;
    background: black;
    outline: 1.5px solid #a993fe;
}